body {
   background-color: ivory;
}

label[for=menu-toggle] {
   float: right;
}

.navbar-default {
   border: none;
   border-bottom: 1px solid #1ac056;
   color: none;
   transition: 0.3s 'all';
}
.container-fluid {
   padding:0;
}
.row{
   margin: auto;
}
/*------------ON TOP OF PAGE------------*/

.nav {
   padding-top: 0px;
   min-height: 40px;
   width: 100%;
   background-color: transparent;
   z-index: 30;
   border-bottom: none;
   position: fixed;
   left: 0;
   transition: 0.3s background-color;
}

.nav li a {
   width: 150px;
   height: 40px;
   display: inline-block;
   float: right;
   text-align: center;
   font-weight: bold;
   z-index: 35;
   color: ivory;
   transition: 0.3s 'all';

}

li>a:hover {
   color: #1ac056;
   transition: 0.3s 'all';

}

.navbar-default .navbar-nav>li>a {
   color: #1ac056;
   transition: 0.3s 'all';

}


/*-------------CLASS REST---------------*/

.navbar-default .scrool.navbar-nav>li>a .scrool ul {
   background-color: ivory;
   border-bottom: 1px solid #1ac056;
   transition: 0.3s background-color;
}

.scrool,
.scrool a {
   color: #1ac056;
}

.scrool li:hover {
   color: black;
}

u.navbar-nav > a {
   color: #000;
   display: block;
}